.Trash {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 5% 0 5%;
  max-width: 991.98px;
  min-height: 100vh;
  background-color: white;
  border-radius: 20px;
}

.todolist {
  margin-top: 20px;
}

.Trash .links {
  margin-top: 10px;
  text-align: center;
}

.Trash .links a {
  color: #5c76e4;
  text-decoration: none;
}

.Trash .links a:hover {
  color: #9daae6;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .Trash.container {
    max-width: 960px;
  }
}
